.starship {
    display: flex;
    color: white;
    height: 200px;
    width: 35%;
    background-color: #253f3e;
    border-radius: 10px;
    margin: 200px auto;
    text-align: left;
    text-indent: 10px;
    font-size: 24px;

}

.hover{
    color: white;
    text-align: left;
    text-indent: 10px;
}

